@using SohaService.Core.Convertor
@using SohaService.Core.DTOs.Repair
@using SohaService.Core.Services.Interfaces
@model SohaService.DataLayer.Entities.Repair.Repair
@inject IRepairService _repairService;

@{
    ViewData["Title"] = "حذف تعمیرات";

    InformationRepairViewModel informationRepair = _repairService.ShowInformationRepairById(Model.RepairId);
}

<main>
    <div class="container">
        <div class="user-account">
            <button class="header">صفحه ی سفارش @informationRepair.CustomersNameFamily در تاریخ @informationRepair.ReceivedUnitDate.ToShamsi()</button>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <section>
                            <div class="inner">
                                <ul>
                                    <li><button class="button-a"><a href="/InformationRepair/@Model.RepairId"> مشخصات </a></button></li>
                                    @if (Model.IsDelete == false)
                                    {
                                        @if (Model.IsReady)
                                        {
                                            <li><button class="button-a"><a href="/EditRepair/@Model.RepairId"> ویرایش </a></button></li>
                                        }
                                        else if (Model.IsRepair)
                                        {
                                            <li><button class="button-a"><a href="/EditDoneRepair/@Model.RepairId"> ویرایش </a></button></li>
                                        }
                                        else if (Model.IsSend)
                                        {
                                            <li><button class="button-a"><a href="/EditRepairedRepair/@Model.RepairId"> ویرایش </a></button></li>
                                        }
                                        <li><button class="button-a button-a-Active"><a href="/DeleteRepair/@Model.RepairId"> حذف </a></button></li>
                                    }
                                    <li><button class="button-a"> گزارش </button></li>
                                </ul>
                            </div>
                        </section>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1>حذف سفارش تعمیر</h1>
                        </header>
                        <div class="container alert alert-danger text-center" style="width: 50%; margin:10px 25% 10px">

                            <form method="post">
                                <input type="hidden" asp-for="RepairId" />
                                <h2> آیا از حذف این سفارش مطمئن هستید ؟! </h2>
                                <p style="margin:10px 0 0">
                                    <input type="submit" value=" حذف کن " class="btn btn-outline btn-danger" />
                                </p>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

