@using SohaService.Core.Convertor
@model SohaService.DataLayer.Entities.Repair.Repair

@{
    ViewData["Title"] = "تعمیر شدن";
}

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">

                <div class="col-md-12 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> تعمیر شدن </h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-action="RepairedRepair" method="post">
                                <input type="hidden" asp-for="RepairId" />
                                <input type="hidden" asp-for="SendUnitDate" />
                                <div class="row">
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">تاریخ تعمیر شدن</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                            <input type="datetime" asp-for="RepairDate" value="@DateTime.Now.ToShamsi()" class="form-control" style="text-align: right" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">وضعیت قطعه</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="zmdi zmdi-account"></i></span>
                                            <select class="form-control sohaselect" asp-for="UnitStatusId" asp-items="@(ViewData["unitStatus"] as SelectList)" required></select>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success" id="btnSave"> ذخیره اطلاعات </button>
                                        <a href="/Repairs" class="btn btn-outline btn-info"> انصراف </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.min.js"></script>
<script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.fa.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
    });
</script>

<script type="text/javascript">

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }


    $(document).ready(function () {
        var myButton = $("#btnSave");
        var myInput = $("#price");
        myButton.click(function () {
            var inputValue = myInput.val();

            inputValue = inputValue.replace(/,\s?/g, "");
            document.getElementById("finalprice").value =
                inputValue;
        });
    });

</script>

