@using SohaService.Core.Convertor
@model SohaService.DataLayer.Entities.Repair.Repair

@{
    ViewData["Title"] = "تعمیر شدن";
}

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">

                <div class="col-md-12 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> تعمیر شدن </h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-action="RepairedRepair" method="post">
                                <input type="hidden" asp-for="RepairId" />
                                <input type="hidden" asp-for="SendUnitDate" />
                                <input type="hidden" asp-for="CustomerId" />
                                <input type="hidden" asp-for="RepairDate" id="FullDateTime" />
                                <div class="row">
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">تاریخ تعمیر شدن</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                            <input type="datetime" id="PersianDateTime" value="@DateTime.Now.ToShamsi()" onchange="changeHandler()" class="form-control" style="text-align: right" autocomplete="off" tabindex="1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">ساعت تعمیر شدن</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                            <input type="text" id="InputMinute" value="@DateTime.Now.Minute.ToString()" onchange="changeHandler()" class="form-control" style="text-align: center;width: 10%" autocomplete="off" tabindex="3" required>
                                            <input type="text" id="InputHour" value="@DateTime.Now.Hour.ToString()" onchange="changeHandler()" class="form-control" style="text-align: center;width: 10%" autocomplete="off" tabindex="2" required>
                                            <label style="width: 80%; padding: 3px; color: red;text-align: center">ساعت با قالب 24 ساعته وارد شود</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">وضعیت قطعه</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon "><i class="zmdi zmdi-account"></i></span>
                                            <select class="form-control sohaselect" asp-for="UnitStatusId" asp-items="@(ViewData["unitStatus"] as SelectList)" required></select>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success" id="btnSave"> ذخیره اطلاعات </button>
                                        <a href="/Repairs" class="btn btn-outline btn-info"> انصراف </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.min.js"></script>
<script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.fa.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type=datetime]').datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
    });
</script>

<script type="text/javascript">
    
    $(document).ready(function RepairDate(){

        var inputDate = $("#PersianDateTime").val();
        var inputHour = $("#InputHour").val();
        var inputMinute = $("#InputMinute").val();

        var fullDateTime = inputDate + ' ' + inputHour + ':' + inputMinute;

        document.getElementById("FullDateTime").value = fullDateTime;
    });

    function changeHandler() {
        var inputDate = $("#PersianDateTime").val();
        var inputHour = $("#InputHour").val();
        var inputMinute = $("#InputMinute").val();

        var fullDateTime = inputDate + ' ' + inputHour + ':' + inputMinute;

        document.getElementById("FullDateTime").value = fullDateTime;
    }

</script>

