@using SohaService.Core.Convertor
@model SohaService.DataLayer.Entities.Orders.Order

@{
    ViewData["Title"] = "انجام گرفتن سفارش";
}

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> انجام گرفتن سفارش </h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-action="SetOrderDone" method="post">
                                <input type="hidden" asp-for="OrderId" />
                                <input type="hidden" asp-for="EstimatedAmount"/>
                                <div class="row">
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">تاریخ ثبت</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                            <input type="datetime" asp-for="OrderChangeLevelDate" value="@DateTime.Now.ToShamsi()" class="form-control" style="text-align: right" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">کارشناس</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <select class="form-control" asp-for="ExpertId" asp-items="@(ViewData["experts"] as SelectList)"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">هزینه دریافت شده</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" onkeyup="separateNum(this.value,this);" name="price" id="price" aria-describedby="username">
                                            <input type="hidden" class="form-control" asp-for="ReceivedAmount" id="finalprice" aria-describedby="username">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">توضیحات نهایی</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <textarea class="form-control no-resiaze" rows="5" asp-for="DoneDescription" aria-describedby="username"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success" id="btnSave"> ذخیره اطلاعات </button>
                                        <a href="/Orders" class="btn btn-outline btn-info"> انصراف </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }


    $(document).ready(function(){
        var myButton = $("#btnSave");
        var myInput = $("#price");
        myButton.click(function(){
            var inputValue = myInput.val();

            inputValue = inputValue.replace(/,\s?/g, "");
            document.getElementById("finalprice").value =
                inputValue;
        });
    });

</script>

