<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title> SohaService | @ViewData["Title"] </title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <script src="/js/modernizr-custom.js"></script>

    <div class="landing-layer">
        <div class="container">
            <partial name="_MenuBar" />
        </div>
    </div>

    <!-- main manu -->
    <partial name="_MainMenu" />
    <!-- /main manu -->
    <!-- content -->
    <main id="home-page">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <!-- /content -->
    <!-- footer -->
    <partial name="_Footer" />
    <!-- /footer -->

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.min.js"></script>
    <script src="/BootstrapJalaliDatePicker/bootstrap-datepicker.fa.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({ dateFormat: "yy/mm/dd", isRTL: true, showButtonPanel: true });
        });
    </script>
</body>
</html>
