<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                <li>
                    <a href=""> سفارشات </a>
                    <ul>
                        <li><a href="/Orders"> آماده روزانه </a></li>
                        <li><a href="/SendToCompanies"> ارسال به شرکت </a></li>
                        <li><a href="/BackFromCompanies"> برگشت از شرکت </a></li>
                        <li><a href="/DoneOrders"> انجام شده </a></li>
                        <li><a href="/DeletedOrders"> سفارشات حذف شده </a></li>
                    </ul>
                </li>
                <li>
                    <a href=""> پروفایل مشتریان </a>
                    <ul>
                        <li><a href="/Customers">لیست مشتریان</a></li>
                        <li><a href="/DeletedCustomers">مشتریان حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">کارشناسان</a>
                    <ul>
                        <li><a href="/Experts">لیست کارشناسان</a></li>
                        <li><a href="/DeletedExperts">کارشناسان حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">شرکت ها</a>
                    <ul>
                        <li><a href="/Companies">لیست شرکت ها</a></li>
                        <li><a href="/DeletedCompanies">لیست شرکت های حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">قطعه ها</a>
                    <ul>
                        <li><a href="/Units">لیست قطعه ها</a></li>
                        <li><a href="/DeletedUnits">قطعه های حذف شده</a></li>
                        <li><a href="/UnitStatuses">وضعیت قطعه ها</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">مالی</a>
                    <ul>
                        <li><a href="/Accounts">لیست بدهکاران</a></li>
                        <li><a href="/ShowAllPays">لیست کل پرداخت ها</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>