<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                <li>
                    <a href=""> دانش آموزان </a>
                    <ul>
                        <li><a href="/Students"> لیست دانش آموزان </a></li>
                        <li><a href="/DeletedStudents"> دانش آموزان حذف شده </a></li>
                        <li><a href="/CanceledStudent"> دانش آموزان انصرافی </a></li>
                    </ul>
                </li>
                <li>
                    <a href=""> مشاوران جذب </a>
                    <ul>
                        <li><a href="/Advisers">لیست مشاوران جذب</a></li>
                        <li><a href="/DeletedAdvisers">مشاوران جذب حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">مشاوران برنامه ریزی</a>
                    <ul>
                        <li><a href="/SyllabusAdvisers">لیست مشاوران برنامه ریزی</a></li>
                        <li><a href="/DeletedSyllabusAdvisers">مشاوران برنامه ریزی حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">برنامه های رادیویی و تلویزیونی</a>
                    <ul>
                        <li><a href="/ShowTVCourses">لیست برنامه های تلویزیونی</a></li>
                        <li><a href="/ShowRadioCourses">لیست برنامه های رادیویی</a></li>
                        <li><a href="/ShowDeletedTVCourses">لیست برنامه های تلویزیونی حذف شده</a></li>
                        <li><a href="/ShowDeletedRadioCourses">لیست برنامه های رادیویی حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">طرح های مشاوره</a>
                    <ul>
                        <li><a href="/ShowPlans">لیست طرح ها</a></li>
                        <li><a href="/ShowDeletedPlan">طرح های حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">مالی</a>
                    <ul>
                        <li><a href="/Accounts">لیست حساب ها</a></li>
                        <li><a href="/ShowPos">لیست کارتخوان ها</a></li>
                        <li><a href="/DeletedAccounts">لیست حساب های حذف شده</a></li>
                        <li><a href="/DeletedPos">لیست کارتخوان های حذف شده</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">پرداخت ها</a>
                    <ul>
                        <li><a href="/ShowAllPayPecuniary">پرداخت های نقدی</a></li>
                        <li><a href="/ShowAllPayCard">کارت به کارت</a></li>
                        <li><a href="/ShowAllPayPos">کارتخوان</a></li>
                        <li><a href="/ShowAllCheque">چک</a></li>
                        <li><a href="/ShowAllInstallment">قسط</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>