<nav>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <ul>
                <li>
                    <a href="/">خانه</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="clientarea">
                <div class="loggein ">
                    @if (User.Identity.IsAuthenticated)
                    {<div class="loggein"> <i class="zmdi "></i><a href="/ManageUser">کاربر : @User.Identity.Name</a> / <a href="/Logout"> خرو ج </a> </div> }
                else
                { <a class="nav-link" href="/Login"> ورود </a>}
                </div>
            </div>
        </div>
    </div>
</nav>