<nav>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <ul>
                <li>
                    <a href="/">خانه</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="clientarea">
              
            </div>
        </div>
    </div>
</nav>